.page {
	background: #0e0e0e !important;
    min-width: 1200px;
}









/*
* SMALL DISPLAYS:
*/









/*
* MEDIUM DISPLAYS:
*/









/*
* LARGE DISPLAYS:
*/









/*
* XLARGE DISPLAYS:
*/









/*
* XXLARGE DISPLAYS:
*/









@media screen {
  /* normal col */
  /* {s,m,l}w = {small, medium, large} width */
  .row__col_sw_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(8.3325% - 36.66667px);
  }
  .row__col_sw_1:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_1:last-child {
    margin-right: 0;
  }
  .row__col_sw_1:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(16.665% - 33.33333px);
  }
  .row__col_sw_2:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_2:last-child {
    margin-right: 0;
  }
  .row__col_sw_2:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(24.9975% - 30px);
  }
  .row__col_sw_3:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_3:last-child {
    margin-right: 0;
  }
  .row__col_sw_3:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(33.33% - 26.66667px);
  }
  .row__col_sw_4:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_4:last-child {
    margin-right: 0;
  }
  .row__col_sw_4:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(41.6625% - 23.33333px);
  }
  .row__col_sw_5:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_5:last-child {
    margin-right: 0;
  }
  .row__col_sw_5:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(49.995% - 20px);
  }
  .row__col_sw_6:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_6:last-child {
    margin-right: 0;
  }
  .row__col_sw_6:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(58.3275% - 16.66667px);
  }
  .row__col_sw_7:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_7:last-child {
    margin-right: 0;
  }
  .row__col_sw_7:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(66.66% - 13.33333px);
  }
  .row__col_sw_8:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_8:last-child {
    margin-right: 0;
  }
  .row__col_sw_8:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(74.9925% - 10px);
  }
  .row__col_sw_9:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_9:last-child {
    margin-right: 0;
  }
  .row__col_sw_9:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(83.325% - 6.66667px);
  }
  .row__col_sw_10:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_10:last-child {
    margin-right: 0;
  }
  .row__col_sw_10:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(91.6575% - 3.33333px);
  }
  .row__col_sw_11:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_11:last-child {
    margin-right: 0;
  }
  .row__col_sw_11:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_sw_12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 99.99%;
  }
  .row__col_sw_12:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_sw_12:last-child {
    margin-right: 0;
  }
  .row__col_sw_12:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  /* offset col */
  /* {s,m,l}o = {small, medium, large} offset */
  .row__col_so_1 {
    position: relative;
    left: calc(8.3325% + 3.33333px);
  }
  .row__col_so_2 {
    position: relative;
    left: calc(16.665% + 6.66667px);
  }
  .row__col_so_3 {
    position: relative;
    left: calc(24.9975% + 10px);
  }
  .row__col_so_4 {
    position: relative;
    left: calc(33.33% + 13.33333px);
  }
  .row__col_so_5 {
    position: relative;
    left: calc(41.6625% + 16.66667px);
  }
  .row__col_so_6 {
    position: relative;
    left: calc(49.995% + 20px);
  }
  .row__col_so_7 {
    position: relative;
    left: calc(58.3275% + 23.33333px);
  }
  .row__col_so_8 {
    position: relative;
    left: calc(66.66% + 26.66667px);
  }
  .row__col_so_9 {
    position: relative;
    left: calc(74.9925% + 30px);
  }
  .row__col_so_10 {
    position: relative;
    left: calc(83.325% + 33.33333px);
  }
  .row__col_so_11 {
    position: relative;
    left: calc(91.6575% + 36.66667px);
  }
  /* auto size col */
  .row__col_s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    margin-right: 40px;
  }
  .row__col_s:last-child {
    margin-right: 0;
  }
}









@media screen and (max-width: 40em) {
  .row__col_sw_0 {
    display: none;
  }
  .row__col_so_0 {
    margin-left: 0;
  }
  /* {s,m,l}of = {small, medium, large} order first */
  .row__col_sof {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  /* {s,m,l}ol = {small, medium, large} order last */
  .row__col_sol {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}









@media screen and (min-width: 40.063em) {
  /* normal col */
  /* {s,m,l}w = {small, medium, large} width */
  .row__col_mw_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(8.3325% - 36.66667px);
  }
  .row__col_mw_1:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_1:last-child {
    margin-right: 0;
  }
  .row__col_mw_1:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(16.665% - 33.33333px);
  }
  .row__col_mw_2:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_2:last-child {
    margin-right: 0;
  }
  .row__col_mw_2:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(24.9975% - 30px);
  }
  .row__col_mw_3:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_3:last-child {
    margin-right: 0;
  }
  .row__col_mw_3:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(33.33% - 26.66667px);
  }
  .row__col_mw_4:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_4:last-child {
    margin-right: 0;
  }
  .row__col_mw_4:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(41.6625% - 23.33333px);
  }
  .row__col_mw_5:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_5:last-child {
    margin-right: 0;
  }
  .row__col_mw_5:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(49.995% - 20px);
  }
  .row__col_mw_6:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_6:last-child {
    margin-right: 0;
  }
  .row__col_mw_6:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(58.3275% - 16.66667px);
  }
  .row__col_mw_7:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_7:last-child {
    margin-right: 0;
  }
  .row__col_mw_7:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(66.66% - 13.33333px);
  }
  .row__col_mw_8:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_8:last-child {
    margin-right: 0;
  }
  .row__col_mw_8:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(74.9925% - 10px);
  }
  .row__col_mw_9:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_9:last-child {
    margin-right: 0;
  }
  .row__col_mw_9:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(83.325% - 6.66667px);
  }
  .row__col_mw_10:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_10:last-child {
    margin-right: 0;
  }
  .row__col_mw_10:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(91.6575% - 3.33333px);
  }
  .row__col_mw_11:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_11:last-child {
    margin-right: 0;
  }
  .row__col_mw_11:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_mw_12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 99.99%;
  }
  .row__col_mw_12:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_mw_12:last-child {
    margin-right: 0;
  }
  .row__col_mw_12:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  /* offset col */
  /* {s,m,l}o = {small, medium, large} offset */
  .row__col_mo_1 {
    position: relative;
    left: calc(8.3325% + 3.33333px);
  }
  .row__col_mo_2 {
    position: relative;
    left: calc(16.665% + 6.66667px);
  }
  .row__col_mo_3 {
    position: relative;
    left: calc(24.9975% + 10px);
  }
  .row__col_mo_4 {
    position: relative;
    left: calc(33.33% + 13.33333px);
  }
  .row__col_mo_5 {
    position: relative;
    left: calc(41.6625% + 16.66667px);
  }
  .row__col_mo_6 {
    position: relative;
    left: calc(49.995% + 20px);
  }
  .row__col_mo_7 {
    position: relative;
    left: calc(58.3275% + 23.33333px);
  }
  .row__col_mo_8 {
    position: relative;
    left: calc(66.66% + 26.66667px);
  }
  .row__col_mo_9 {
    position: relative;
    left: calc(74.9925% + 30px);
  }
  .row__col_mo_10 {
    position: relative;
    left: calc(83.325% + 33.33333px);
  }
  .row__col_mo_11 {
    position: relative;
    left: calc(91.6575% + 36.66667px);
  }
  /* auto size col */
  .row__col_m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    margin-right: 40px;
  }
  .row__col_m:last-child {
    margin-right: 0;
  }
}









@media screen and (min-width: 40.063em) and (max-width: 64em) {
  .row__col_mw_0 {
    display: none;
  }
  .row__col_mo_0 {
    margin-left: 0;
  }
  /* {s,m,l}of = {small, medium, large} order first */
  .row__col_mof {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  /* {s,m,l}ol = {small, medium, large} order last */
  .row__col_mol {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}









@media screen and (min-width: 64.063em) {
  /* normal col */
  /* {s,m,l}w = {small, medium, large} width */
  .row__col_lw_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(8.3325% - 36.66667px);
  }
  .row__col_lw_1:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_1:last-child {
    margin-right: 0;
  }
  .row__col_lw_1:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(16.665% - 33.33333px);
  }
  .row__col_lw_2:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_2:last-child {
    margin-right: 0;
  }
  .row__col_lw_2:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(24.9975% - 30px);
  }
  .row__col_lw_3:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_3:last-child {
    margin-right: 0;
  }
  .row__col_lw_3:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(33.33% - 26.66667px);
  }
  .row__col_lw_4:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_4:last-child {
    margin-right: 0;
  }
  .row__col_lw_4:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(41.6625% - 23.33333px);
  }
  .row__col_lw_5:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_5:last-child {
    margin-right: 0;
  }
  .row__col_lw_5:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(49.995% - 20px);
  }
  .row__col_lw_6:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_6:last-child {
    margin-right: 0;
  }
  .row__col_lw_6:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(58.3275% - 16.66667px);
  }
  .row__col_lw_7:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_7:last-child {
    margin-right: 0;
  }
  .row__col_lw_7:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(66.66% - 13.33333px);
  }
  .row__col_lw_8:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_8:last-child {
    margin-right: 0;
  }
  .row__col_lw_8:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(74.9925% - 10px);
  }
  .row__col_lw_9:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_9:last-child {
    margin-right: 0;
  }
  .row__col_lw_9:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(83.325% - 6.66667px);
  }
  .row__col_lw_10:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_10:last-child {
    margin-right: 0;
  }
  .row__col_lw_10:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(91.6575% - 3.33333px);
  }
  .row__col_lw_11:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_11:last-child {
    margin-right: 0;
  }
  .row__col_lw_11:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_lw_12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 99.99%;
  }
  .row__col_lw_12:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_lw_12:last-child {
    margin-right: 0;
  }
  .row__col_lw_12:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  /* offset col */
  /* {s,m,l}o = {small, medium, large} offset */
  .row__col_lo_1 {
    position: relative;
    left: calc(8.3325% + 3.33333px);
  }
  .row__col_lo_2 {
    position: relative;
    left: calc(16.665% + 6.66667px);
  }
  .row__col_lo_3 {
    position: relative;
    left: calc(24.9975% + 10px);
  }
  .row__col_lo_4 {
    position: relative;
    left: calc(33.33% + 13.33333px);
  }
  .row__col_lo_5 {
    position: relative;
    left: calc(41.6625% + 16.66667px);
  }
  .row__col_lo_6 {
    position: relative;
    left: calc(49.995% + 20px);
  }
  .row__col_lo_7 {
    position: relative;
    left: calc(58.3275% + 23.33333px);
  }
  .row__col_lo_8 {
    position: relative;
    left: calc(66.66% + 26.66667px);
  }
  .row__col_lo_9 {
    position: relative;
    left: calc(74.9925% + 30px);
  }
  .row__col_lo_10 {
    position: relative;
    left: calc(83.325% + 33.33333px);
  }
  .row__col_lo_11 {
    position: relative;
    left: calc(91.6575% + 36.66667px);
  }
  /* auto size col */
  .row__col_l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    margin-right: 40px;
  }
  .row__col_l:last-child {
    margin-right: 0;
  }
}









@media screen and (min-width: 64.063em) and (max-width: 90em) {
  .row__col_lw_0 {
    display: none;
  }
  .row__col_lo_0 {
    margin-left: 0;
  }
  /* {s,m,l}of = {small, medium, large} order first */
  .row__col_lof {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  /* {s,m,l}ol = {small, medium, large} order last */
  .row__col_lol {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}









@media screen and (min-width: 90.063em) {
  /* normal col */
  /* {s,m,l}w = {small, medium, large} width */
  .row__col_xlw_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(8.3325% - 36.66667px);
  }
  .row__col_xlw_1:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_1:last-child {
    margin-right: 0;
  }
  .row__col_xlw_1:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(16.665% - 33.33333px);
  }
  .row__col_xlw_2:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_2:last-child {
    margin-right: 0;
  }
  .row__col_xlw_2:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(24.9975% - 30px);
  }
  .row__col_xlw_3:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_3:last-child {
    margin-right: 0;
  }
  .row__col_xlw_3:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(33.33% - 26.66667px);
  }
  .row__col_xlw_4:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_4:last-child {
    margin-right: 0;
  }
  .row__col_xlw_4:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(41.6625% - 23.33333px);
  }
  .row__col_xlw_5:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_5:last-child {
    margin-right: 0;
  }
  .row__col_xlw_5:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(49.995% - 20px);
  }
  .row__col_xlw_6:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_6:last-child {
    margin-right: 0;
  }
  .row__col_xlw_6:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(58.3275% - 16.66667px);
  }
  .row__col_xlw_7:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_7:last-child {
    margin-right: 0;
  }
  .row__col_xlw_7:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(66.66% - 13.33333px);
  }
  .row__col_xlw_8:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_8:last-child {
    margin-right: 0;
  }
  .row__col_xlw_8:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(74.9925% - 10px);
  }
  .row__col_xlw_9:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_9:last-child {
    margin-right: 0;
  }
  .row__col_xlw_9:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(83.325% - 6.66667px);
  }
  .row__col_xlw_10:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_10:last-child {
    margin-right: 0;
  }
  .row__col_xlw_10:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(91.6575% - 3.33333px);
  }
  .row__col_xlw_11:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_11:last-child {
    margin-right: 0;
  }
  .row__col_xlw_11:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xlw_12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 99.99%;
  }
  .row__col_xlw_12:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xlw_12:last-child {
    margin-right: 0;
  }
  .row__col_xlw_12:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  /* offset col */
  /* {s,m,l}o = {small, medium, large} offset */
  .row__col_xlo_1 {
    position: relative;
    left: calc(8.3325% + 3.33333px);
  }
  .row__col_xlo_2 {
    position: relative;
    left: calc(16.665% + 6.66667px);
  }
  .row__col_xlo_3 {
    position: relative;
    left: calc(24.9975% + 10px);
  }
  .row__col_xlo_4 {
    position: relative;
    left: calc(33.33% + 13.33333px);
  }
  .row__col_xlo_5 {
    position: relative;
    left: calc(41.6625% + 16.66667px);
  }
  .row__col_xlo_6 {
    position: relative;
    left: calc(49.995% + 20px);
  }
  .row__col_xlo_7 {
    position: relative;
    left: calc(58.3275% + 23.33333px);
  }
  .row__col_xlo_8 {
    position: relative;
    left: calc(66.66% + 26.66667px);
  }
  .row__col_xlo_9 {
    position: relative;
    left: calc(74.9925% + 30px);
  }
  .row__col_xlo_10 {
    position: relative;
    left: calc(83.325% + 33.33333px);
  }
  .row__col_xlo_11 {
    position: relative;
    left: calc(91.6575% + 36.66667px);
  }
  /* auto size col */
  .row__col_xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    margin-right: 40px;
  }
  .row__col_xl:last-child {
    margin-right: 0;
  }
}









@media screen and (min-width: 90.063em) and (max-width: 120em) {
  .row__col_xlw_0 {
    display: none;
  }
  .row__col_xlo_0 {
    margin-left: 0;
  }
  /* {s,m,l}of = {small, medium, large} order first */
  .row__col_xlof {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  /* {s,m,l}ol = {small, medium, large} order last */
  .row__col_xlol {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}









@media screen and (min-width: 120.063em) {
  /* normal col */
  /* {s,m,l}w = {small, medium, large} width */
  .row__col_xxlw_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(8.3325% - 36.66667px);
  }
  .row__col_xxlw_1:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_1:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_1:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(16.665% - 33.33333px);
  }
  .row__col_xxlw_2:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_2:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_2:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(24.9975% - 30px);
  }
  .row__col_xxlw_3:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_3:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_3:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(33.33% - 26.66667px);
  }
  .row__col_xxlw_4:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_4:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_4:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(41.6625% - 23.33333px);
  }
  .row__col_xxlw_5:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_5:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_5:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(49.995% - 20px);
  }
  .row__col_xxlw_6:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_6:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_6:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(58.3275% - 16.66667px);
  }
  .row__col_xxlw_7:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_7:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_7:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(66.66% - 13.33333px);
  }
  .row__col_xxlw_8:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_8:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_8:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(74.9925% - 10px);
  }
  .row__col_xxlw_9:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_9:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_9:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(83.325% - 6.66667px);
  }
  .row__col_xxlw_10:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_10:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_10:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(91.6575% - 3.33333px);
  }
  .row__col_xxlw_11:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_11:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_11:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .row__col_xxlw_12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 99.99%;
  }
  .row__col_xxlw_12:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0;
  }
  .row__col_xxlw_12:last-child {
    margin-right: 0;
  }
  .row__col_xxlw_12:nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  /* offset col */
  /* {s,m,l}o = {small, medium, large} offset */
  .row__col_xxlo_1 {
    position: relative;
    left: calc(8.3325% + 3.33333px);
  }
  .row__col_xxlo_2 {
    position: relative;
    left: calc(16.665% + 6.66667px);
  }
  .row__col_xxlo_3 {
    position: relative;
    left: calc(24.9975% + 10px);
  }
  .row__col_xxlo_4 {
    position: relative;
    left: calc(33.33% + 13.33333px);
  }
  .row__col_xxlo_5 {
    position: relative;
    left: calc(41.6625% + 16.66667px);
  }
  .row__col_xxlo_6 {
    position: relative;
    left: calc(49.995% + 20px);
  }
  .row__col_xxlo_7 {
    position: relative;
    left: calc(58.3275% + 23.33333px);
  }
  .row__col_xxlo_8 {
    position: relative;
    left: calc(66.66% + 26.66667px);
  }
  .row__col_xxlo_9 {
    position: relative;
    left: calc(74.9925% + 30px);
  }
  .row__col_xxlo_10 {
    position: relative;
    left: calc(83.325% + 33.33333px);
  }
  .row__col_xxlo_11 {
    position: relative;
    left: calc(91.6575% + 36.66667px);
  }
  /* auto size col */
  .row__col_xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    margin-right: 40px;
  }
  .row__col_xxl:last-child {
    margin-right: 0;
  }
}









@media screen and (min-width: 120.063em) and (max-width: 99999999em) {
  .row__col_xxlw_0 {
    display: none;
  }
  .row__col_xxlo_0 {
    margin-left: 0;
  }
  /* {s,m,l}of = {small, medium, large} order first */
  .row__col_xxlof {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  /* {s,m,l}ol = {small, medium, large} order last */
  .row__col_xxlol {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}









.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}









.row_order_reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: row-reverse;
        flex-wrap: row-reverse;
}









@media screen {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_sal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_sac {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_sar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_svat {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_svam {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_svab {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}









@media screen and (min-width: 40.063em) {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_mal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_mac {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_mar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_mvat {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_mvam {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_mvab {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}









@media screen and (min-width: 64.063em) {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_lal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_lac {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_lar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_lvat {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_lvam {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_lvab {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}









@media screen and (min-width: 90.063em) {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_xlal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_xlac {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_xlar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_xlvat {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_xlvam {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_xlvab {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}









@media screen and (min-width: 120.063em) {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_xxlal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_xxlac {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_xxlar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_xxlvat {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_xxlvam {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_xxlvab {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}









.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}









.tile {
  text-decoration: none;
  display : block;
  background: #EA4C8D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 8px solid #fff;
/*  padding: $space-xl;*/
  margin-bottom: 10px;
  height: 334px;
  height: 272px;
  position: relative;
}









.tile_dribbble_maybach {
      background-image: url('https://d13yacurqjgara.cloudfront.net/users/1362846/screenshots/2984399/vision.png');
      background-size: cover;
    }









.tile_dribbble_desiigner {
      background-image: url('https://d13yacurqjgara.cloudfront.net/users/382967/screenshots/2947385/desiigner_article.png');
      background-size: cover;
    }









.tile_view_dribbble {
      height: 272px;
      background: #FC4182;
    }









.tile_view_vertical {
      height: 554px;
    }









html {
    min-height: 100%;
}









.page_theme_islands {
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    min-height: 100%;
    margin: 0;

    color: #000;
    background: #fff;
}









/* Базовые цвета от которых выстраивается вся политра */









/* hsl(0, 0%, 0%) */









/* hsl(0, 0%, 100%) */









/* hsl(48, 100%, 50%) */









/* hsl(40, 14%, 96%) */









/* hsl(0, 100%, 47%) */









/* hsl(120, 100%, 23%) */









/* hsl(220, 100%, 47%) */









/* Цвета блоков */









/* Бренд */









/* Акценты */









/* Выделения */









/* Наведения */









/* Инверсия */









/* Границы */









/* Границы */









/* Границы */









/* Затенения */









/* Дефолт */









/* Дефолт iOS */









/* Дефолт Android */









/* Паранджа  */









/* Успех */









/* Ошибка */









/* Стандартный */









/* Цвета компонентов */









/* Дизайбл */









/* Цвета текста */









/* Основной */









/* Промо */









/* Второстепенный */









/* Третестепенный */









/* Инверсия */









/* Неактивный */









/* Приход */









/* Брендированный */









/* Успех */









/* Ошибка */









/* Цвета ссылок */









/* Основная */









/* Дополнительная */









/* Второстепенная ссылка */









/* Ховер */









:root {
  /* Цвета блоков */
  --color-brand: #FFCC00;
  --color-action: color(#FFCC00 l(+15%));
  --color-selection: color(#FFCC00 h(-1) l(+31%));
  --color-hover: color(#FFCC00 h(+2) l(+40%));
  --color-inverse: #1a1a1a;
  --color-border: color(#000000 a(5%));
  --color-stripe: color(#000000 a(2%));
  --color-border-control: color(#000000 a(12%));
  --color-ghost: color(#F6F5F3 s(+6%) l(-2%));
  --color-default: #FFFFFF;
  --color-default-ios: #FFFFFF;
  --color-default-android: color(#FFFFFF l(-2%));
  --color-tone: color(#000000 a(70%));
  --color-success: color(#007700 h(+38%) l(+7));
  --color-alert: color(#EE0000 l(+13%));
  --color-normal: color(#F6F5F3 h(+155%) s(-1%) l(-8));

  /* Цвета контролов */
  --color-disable: color(#000000 a(8%));

  /* Цвета текста */
  --color-typo-primary: #000000;
  --color-typo-promo: color(#000000 a(80%));
  --color-typo-secondary: color(#000000 a(60%));
  --color-typo-ghost: color(#000000 a(30%));
  --color-typo-inverse: #FFFFFF;
  --color-typo-disable: color(#000000 a(30%));
  --color-typo-income: color(#007700 s(-5) l(+10));
  --color-typo-letter: color(#EE0000 l(+3%));
  --color-typo-success: color(#007700 h(+38%) l(+7));
  --color-typo-alert: color(#EE0000 l(+13%));

  /* Цвета ссылок */
  --color-link: #0070F0;
  --color-link-external: #007700;
  --color-link-minor: color(#0070F0 h(+22) s(-80%) l(+13%));
  --color-link-hover: color(#EE0000 l(-7%));
}









/* Цвета для bem-components (в процессе)
$color-default:                 color($color-essential);
$color-inverse:                 $color-base;
$color-hover:                   color($color-project l(+33%));
$color-press:                   $color-ghost;

$color-action:                  color($color-project l(+15%));
$color-action-hover:            color($color-project l(+20%));
$color-action-focus:            $color-project;
$color-action-press:            $color-project;

$color-check:                   color($color-project l(+33%));
$color-check-press:             color($color-project l(+25%));

$color-disable:                 color($color-base a(8%));
$color-disable-check:           color($color-base a(8%));
$color-border-disable:          color($color-base l(+60%));

$color-border:                  color($color-base a(20%));
$color-border-hover:            color($color-base a(30%));
$color-border-press:            color($color-base a(35%));
$color-border-focus:            color($color-base a(35%));

$color-border-check:            color($color-project a(50%) l(-20%));
$color-border-check-press:      color($color-base a(35%));
$color-border-check-hover:      color($color-project a(60%) l(-25%));
$color-border-focus:            $color-project;

$color-typo-primary:            $color-base;
$color-typo-inverse:            $color-essential;
$color-typo-placeholder:        color($color-base l(+60%));

$color-link:                    $color-path;
$color-link-hover:              $color-radical;
$color-link-ghost:              $color-ghost;
$color-link-ghost-hover:        color($color-ghost l(-10));
$color-link-visited:            color($color-path s(10%));

$color-typo-disable:            color($color-base l(+60%));
$color-typo-inverse-disable:    color($color-base a(40%));
*/









/* Отступы */









:root{
  /* Отступы */
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 72px;
  --space-xxxxxxl: 96px;
}









/* Размеры текста */









/* Межстрочный интервал */









:root {
  /* Размер текста */
  --size-typo-xs: 11px;
  --size-typo-s: 13px;
  --size-typo-m: 15px;
  --size-typo-l: 18px;
  --size-typo-xl: 20px;
  --size-typo-xxl: 24px;
  --size-typo-xxxl: 32px;
  --size-typo-xxxxl: 48px;
  --size-typo-xxxxxl: 72px;
  --size-typo-xxxxxxl: 96px;

  /* Межстрочный интервал */
  --line-height-typo-xs: 15px;
  --line-height-typo-s: 18px;
  --line-height-typo-m: 21px;
  --line-height-typo-l: 25px;
  --line-height-typo-xl: 28px;
  --line-height-typo-xxl: 34px;
  --line-height-typo-xxxl: 42px;
  --line-height-typo-xxxxl: 62px;
  --line-height-typo-xxxxxl: 82px;
  --line-height-typo-xxxxxxl: 115px;
}









.top {
  padding: 96px 0px;
  margin-bottom: 32px;
}









.top__get {
    display: inline-block;
    border: 2px solid #FFF;
    font-size: 16px;
    padding: 16px 40px;
    background: #FFFFFF;
    color: #000000;
    text-decoration: none;
  }









.top__get:hover {
      border: 2px solid rgba(255,255,255,0.9);
      background: rgba(255,255,255,0.9);
    }









.text_view_inverse {
	color: var(--color-typo-inverse);
}









.text_size_xxxxxl {
	font-size: 72px;
	font-family: 'Roboto', sans-serif;
	line-height: 82px;
}









.text_indent_xl {
	margin-bottom: 24px;
}









.text_weight_bold {
	font-weight: 600;
}









.text_spacing_m {
	letter-spacing: 2px;
}









.text_transform_uppercase {
	text-transform: uppercase;
}









.text_size_xl {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	line-height: 28px;
}









.text_indent_xxxl {
	margin-bottom: 40px;
}









.section-face {
	margin-bottom: 144px;
}









.section-face__item {
		margin-bottom: var(--space-xxl);
	}









.section-face__item:last-child {
			margin-bottom: 0px;
		}









.tool {
  background: rgba(0,0,0,0.2);
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  text-decoration: none;
}









.tool:hover {
    background: rgba(0,0,0,0.6);
  }









.tool__icon {
    height: 100px;
    width: 100px;
    margin-bottom: 12px;
    display: inline-block;
  }









.tool__icon_view_const {
        background-image: url('i/const.svg');
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }









.tool__icon_view_typo {
        background-image: url('i/typo.svg');
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }









.tool__icon_view_layouts {
        background-image: url('i/layouts.svg');
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }









.tool__icon_view_blocks {
        background-image: url('i/blocks.svg');
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }









.tool__icon_view_icons {
        background-image: url('i/icons.svg');
        background-size: 94px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }









.tool__icon_view_logotypes {
        background-image: url('i/logotypes.svg');
        background-size: 76px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }









.tool__icon_view_vectors {
        background-image: url('i/vectors.svg');
        background-size: 78px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }









.tool__icon_view_service {
        background-image: url('i/service.svg');
        background-size: 78px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }









.doc {
  background: #FFFFFF;
  position: relative;
  display: block;
  text-decoration: none;
}









.doc:hover .doc__action {
      background: color(#FFCC00 h(-1) l(+31%));
    }









.doc_status_process {
      opacity: .8;
    }









.doc__author {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-bottom: 16px;
    background-size: cover;
  }









.doc__author_view_andrey {
        background-image: url('i/andrey.png');
      }









.doc__author_view_misha {
        background-image: url('i/misha.png');
      }









.doc__author_view_julya {
        background-image: url('i/julya.png');
      }









.doc__author_view_kirill {
        background-image: url('i/kirill.png');
      }









.doc__content {
    padding: 20px;
  }









.doc__action {
    padding: 16px;
    background: rgba(0,0,0,0.06);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }









.doc__image {
    height: 120px;
    background: rgba(0,0,0,0.1);
    margin-bottom: 20px;
    background-size: cover;
  }









.doc__image_view_brickbox {
        background-image: url('i/brickbox.png');
      }









.doc__image_view_grids {
        background-image: url('i/grids.png');
      }









.doc__image_view_pattern {
        background-image: url('i/pattern.png');
      }









.doc__image_view_const {
        background-image: url('i/const.png');
      }









.doc__image_view_graphics {
        background-image: url('i/graphics.png');
      }









.doc__image_view_bemxjst {
        background-image: url('i/bemxjst.png');
      }









.doc__info {
    height: 120px;
  }









.link {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}









.link_disabled {
        pointer-events: none;
    }









.text_view_primary {
	color: var(--color-typo-primary);
}









.text_indent_xs {
	margin-bottom: 8px;
}









.text_size_m {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	line-height: 21px;
}









.foot {
  padding: 24px 0px;
}









.text_size_l {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	line-height: 25px;
}









.text_align_center {
	text-align: center;
}
