.page_vertical-align_center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  .page_type_full-screen {
  		min-height: 100vh !important;
  	}
html {
    min-height: 100%;
}
.page_theme_islands {
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    min-height: 100%;
    margin: 0;

    color: #000;
    background: #fff;
}
/* Базовые цвета от которых выстраивается вся политра */
/* hsl(0, 0%, 0%) */
/* hsl(0, 0%, 100%) */
/* hsl(48, 100%, 50%) */
/* hsl(40, 14%, 96%) */
/* hsl(0, 100%, 47%) */
/* hsl(120, 100%, 23%) */
/* hsl(220, 100%, 47%) */
/* Цвета блоков */
/* Бренд */
/* Акценты */
/* Выделения */
/* Наведения */
/* Инверсия */
/* Границы */
/* Границы */
/* Границы */
/* Затенения */
/* Дефолт */
/* Дефолт iOS */
/* Дефолт Android */
/* Паранджа  */
/* Успех */
/* Ошибка */
/* Стандартный */
/* Цвета компонентов */
/* Дизайбл */
/* Цвета текста */
/* Основной */
/* Промо */
/* Второстепенный */
/* Третестепенный */
/* Инверсия */
/* Неактивный */
/* Приход */
/* Брендированный */
/* Успех */
/* Ошибка */
/* Цвета ссылок */
/* Основная */
/* Дополнительная */
/* Второстепенная ссылка */
/* Ховер */
:root {
  /* Цвета блоков */
  --color-brand: #FFCC00;
  --color-action: rgb(255, 219, 77);
  --color-selection: rgb(255, 234, 158);
  --color-hover: rgb(255, 246, 204);
  --color-inverse: #1a1a1a;
  --color-border: rgba(0, 0, 0, 0.05);
  --color-stripe: rgba(0, 0, 0, 0.02);
  --color-border-control: rgba(0, 0, 0, 0.12);
  --color-ghost: rgb(243, 241, 237);
  --color-default: #FFFFFF;
  --color-default-ios: #FFFFFF;
  --color-default-android: rgb(250, 250, 250);
  --color-tone: rgba(0, 0, 0, 0.7);
  --color-success: rgb(0, 153, 97);
  --color-alert: rgb(255, 51, 51);
  --color-normal: rgb(220, 226, 228);

  /* Цвета контролов */
  --color-disable: rgba(0, 0, 0, 0.08);

  /* Цвета текста */
  --color-typo-primary: #000000;
  --color-typo-promo: rgba(0, 0, 0, 0.8);
  --color-typo-secondary: rgba(0, 0, 0, 0.6);
  --color-typo-ghost: rgba(0, 0, 0, 0.3);
  --color-typo-inverse: #FFFFFF;
  --color-typo-disable: rgba(0, 0, 0, 0.3);
  --color-typo-income: rgb(4, 164, 4);
  --color-typo-letter: rgb(255, 0, 0);
  --color-typo-success: rgb(0, 153, 97);
  --color-typo-alert: rgb(255, 51, 51);

  /* Цвета ссылок */
  --color-link: #0070F0;
  --color-link-external: #007700;
  --color-link-minor: rgb(133, 137, 173);
  --color-link-hover: rgb(204, 0, 0);
}
/* Цвета для bem-components (в процессе)
$color-default:                 color($color-essential);
$color-inverse:                 $color-base;
$color-hover:                   color($color-project l(+33%));
$color-press:                   $color-ghost;

$color-action:                  color($color-project l(+15%));
$color-action-hover:            color($color-project l(+20%));
$color-action-focus:            $color-project;
$color-action-press:            $color-project;

$color-check:                   color($color-project l(+33%));
$color-check-press:             color($color-project l(+25%));

$color-disable:                 color($color-base a(8%));
$color-disable-check:           color($color-base a(8%));
$color-border-disable:          color($color-base l(+60%));

$color-border:                  color($color-base a(20%));
$color-border-hover:            color($color-base a(30%));
$color-border-press:            color($color-base a(35%));
$color-border-focus:            color($color-base a(35%));

$color-border-check:            color($color-project a(50%) l(-20%));
$color-border-check-press:      color($color-base a(35%));
$color-border-check-hover:      color($color-project a(60%) l(-25%));
$color-border-focus:            $color-project;

$color-typo-primary:            $color-base;
$color-typo-inverse:            $color-essential;
$color-typo-placeholder:        color($color-base l(+60%));

$color-link:                    $color-path;
$color-link-hover:              $color-radical;
$color-link-ghost:              $color-ghost;
$color-link-ghost-hover:        color($color-ghost l(-10));
$color-link-visited:            color($color-path s(10%));

$color-typo-disable:            color($color-base l(+60%));
$color-typo-inverse-disable:    color($color-base a(40%));
*/
/* Отступы */
:root{
  /* Отступы */
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 72px;
  --space-xxxxxxl: 96px;
}
/* Размеры текста */
/* Межстрочный интервал */
:root {
  /* Размер текста */
  --size-typo-xs: 11px;
  --size-typo-s: 13px;
  --size-typo-m: 15px;
  --size-typo-l: 18px;
  --size-typo-xl: 20px;
  --size-typo-xxl: 24px;
  --size-typo-xxxl: 32px;
  --size-typo-xxxxl: 48px;
  --size-typo-xxxxxl: 72px;
  --size-typo-xxxxxxl: 96px;

  /* Межстрочный интервал */
  --line-height-typo-xs: 15px;
  --line-height-typo-s: 18px;
  --line-height-typo-m: 21px;
  --line-height-typo-l: 25px;
  --line-height-typo-xl: 28px;
  --line-height-typo-xxl: 34px;
  --line-height-typo-xxxl: 42px;
  --line-height-typo-xxxxl: 62px;
  --line-height-typo-xxxxxl: 82px;
  --line-height-typo-xxxxxxl: 115px;
}
.demo {
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.demo__header {
		position: fixed;
		top: 24px;
		right: 24px;
		width: 20px;
		height: 20px;
		z-index: 9999;
		cursor: pointer;
	}
.demo__menu-icon {
		position: absolute;
		top: 2px;
		right: 0px;
		width: 20px;
		height: 3px;
		-webkit-transform-origin: 2px 4px;
		        transform-origin: 2px 4px;
		-webkit-transition: .3s ease;
		transition: .3s ease;
	}
.demo__menu-icon:before {
			content: '';
			height: 3px;
			width: 100%;
			position: absolute;
			top: 6px;
			-webkit-transition: .3s ease;
			transition: .3s ease;
		}
.demo__menu-icon:after {
			content: '';
			height: 3px;
			width: 100%;
			position: absolute;
			top: 12px;
			-webkit-transition: .3s ease;
			transition: .3s ease;
		}
.demo__menu-icon_state_open {
			-webkit-transform: rotate(0deg);
			        transform: rotate(0deg);
			background: var(--color-inverse);
		}
.demo__menu-icon_state_open:before {
				background: var(--color-inverse);
			}
.demo__menu-icon_state_open:after {
				-webkit-transform: rotate(0deg) translate(0px);
				        transform: rotate(0deg) translate(0px);
				background: var(--color-inverse);
			}
.demo__menu-icon_state_close {
			-webkit-transform: rotate(45deg);
			        transform: rotate(45deg);
			background: var(--color-default);
		}
.demo__menu-icon_state_close:before {
				background: transparent;
			}
.demo__menu-icon_state_close:after {
				-webkit-transform: rotate(-90deg) translate(12px);
				        transform: rotate(-90deg) translate(12px); 
				background: var(--color-default);
			}
.link {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.link_disabled {
        pointer-events: none;
    }
.demo__menu {
		opacity: 0;
		pointer-events: none;
		-webkit-transition: .3s ease;
		transition: .3s ease;
		background-color: var(--color-inverse);
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
.demo__menu_open {
			opacity: 1;
			-webkit-transition: .3s ease;
			transition: .3s ease;
			pointer-events: all;
		}
.demo__menu-content {
		display: inline-block;
		vertical-align: middle;
		width: 99%;
		z-index: 99999;
		padding: 60px 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
.demo__menu-sections {
		width: 1140px;
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
.demo__menu-section {
		margin-bottom: 30px;
	}
/* Подгон для вертикального ритма */
.demo__menu-section:last-child {
			margin-bottom: 0px;
		}
.demo__menu-item-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin-bottom: 2px;
	}
.demo__menu-item-row:nth-child(2n) {
			opacity: 0.3;
		}
.demo__menu-item-row:last-child {
			margin-bottom: 0px;
		}
.demo__menu-item-link {
		text-decoration: none;
	}
.demo__menu-item-link:hover {
			color: #FFDB4D;
		}
.demo__menu-sections-col {
		width: 500px;
	}
.demo__menu-section-name {
		letter-spacing: 1.5px;
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
		color: var(--color-typo-inverse);
		cursor: pointer;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		font-weight: bold;
	}
.demo__menu-item {
		margin-bottom: 16px;
		text-decoration: none;
		font-size: 18px;
		line-height: 24px;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
.demo__menu-item:last-child {
			margin-bottom: 0px;
		}
.demo__menu-item .link {
			font-weight: 500;
			color: rgba(255, 255, 255, 1);
		}
.demo__menu-item .link:hover {
			color: var(--color-action);
		}
.demo__menu-item.active .link, .demo__menu-item.active .link:hover {
			cursor: default;
			color: var(--color-link);
		}
.demo__menu-section__open .demo__menu-section-name, .demo__menu-section__open .demo__menu-section-name:hover {
		cursor: default;
		color: var(--color-typo-inverse);
	}
.demo__content {
	margin: auto;
	width: 1140px;
	padding-top: 72px;
	padding-bottom: 72px;
}
.demo__content_size_l {
			width: 1140px;
		}
.demo__content_size_m {
			width: 960px;
		}
.demo__content_size_s {
			width: 740px;
		}
.demo__content_display_flex {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}
.b-page_theme_dark {
      background: #0e0e0e;
    }
.b-page_overflow_hidden {
      overflow: hidden;
    }
.text_size_xxxl {
	font-size: 32px;
	font-family: "Yandex Sans Text Web", Helvetica, Arial, sans-serif;
	line-height: 42px;
}
.text_weight_bold {
	font-weight: 600;
}
.decorator_space-a_xxxs {
      padding: var(--space-xxxs);
    }
.decorator_space-a_xxs {
      padding: var(--space-xxs);
    }
.decorator_space-a_xs {
      padding: var(--space-xs);
    }
.decorator_space-a_s {
      padding: var(--space-s);
    }
.decorator_space-a_m {
      padding: var(--space-m);
    }
.decorator_space-a_l {
      padding: var(--space-l);
    }
.decorator_space-a_xl {
      padding: var(--space-xl);
    }
.decorator_space-a_xxl {
      padding: var(--space-xxl);
    }
.decorator_space-a_xxxl {
      padding: var(--space-xxxl);
    }
.decorator_space-a_xxxxl {
      padding: var(--space-xxxxl);
    }
.decorator_space-v_xxxs {
      padding-top: var(--space-xxxs);
      padding-bottom: var(--space-xxxs);
    }
.decorator_space-v_xxs {
      padding-top: var(--space-xxs);
      padding-bottom: var(--space-xxs);
    }
.decorator_space-v_xs {
      padding-top: var(--space-xs);
      padding-bottom: var(--space-xs);
    }
.decorator_space-v_s {
      padding-top: var(--space-s);
      padding-bottom: var(--space-s);
    }
.decorator_space-v_m {
      padding-top: var(--space-m);
      padding-bottom: var(--space-m);
    }
.decorator_space-v_l {
      padding-top: var(--space-l);
      padding-bottom: var(--space-l);
    }
.decorator_space-v_xl {
      padding-top: var(--space-xl);
      padding-bottom: var(--space-xl);
    }
.decorator_space-v_xxl {
      padding-top: var(--space-xxl);
      padding-bottom: var(--space-xxl);
    }
.decorator_space-v_xxxl {
      padding-top: var(--space-xxxl);
      padding-bottom: var(--space-xxxl);
    }
.decorator_space-v_xxxxl {
      padding-top: var(--space-xxxxl);
      padding-bottom: var(--space-xxxxl);
    }
.decorator_space-v_xxxxxl {
      padding-top: var(--space-xxxxxl);
      padding-bottom: var(--space-xxxxxl);
    }
.decorator_space-v_xxxxxxl {
      padding-top: var(--space-xxxxxxl);
      padding-bottom: var(--space-xxxxxxl);
    }
.decorator_space-h_xxxs {
      padding-left: var(--space-xxxs);
      padding-right: var(--space-xxxs);
    }
.decorator_space-h_xxs {
      padding-left: var(--space-xxs);
      padding-right: var(--space-xxs);
    }
.decorator_space-h_xs {
      padding-left: var(--space-xs);
      padding-right: var(--space-xs);
    }
.decorator_space-h_s {
      padding-left: var(--space-s);
      padding-right: var(--space-s);
    }
.decorator_space-h_m {
      padding-left: var(--space-m);
      padding-right: var(--space-m);
    }
.decorator_space-h_l {
      padding-left: var(--space-l);
      padding-right: var(--space-l);
    }
.decorator_space-h_xl {
      padding-left: var(--space-xl);
      padding-right: var(--space-xl);
    }
.decorator_space-h_xxl {
      padding-left: var(--space-xxl);
      padding-right: var(--space-xxl);
    }
.decorator_space-h_xxxl {
      padding-left: var(--space-xxxl);
      padding-right: var(--space-xxxl);
    }
.decorator_space-h_xxxxl {
      padding-left: var(--space-xxxxl);
      padding-right: var(--space-xxxxl);
    }
.decorator_space-h_xxxxxl {
      padding-left: var(--space-xxxxxl);
      padding-right: var(--space-xxxxxl);
    }
.decorator_space-h_xxxxxxl {
      padding-left: var(--space-xxxxxxl);
      padding-right: var(--space-xxxxxxl);
    }
.decorator_space-t_xxxs {
      padding-top: var(--space-xxxs);
    }
.decorator_space-t_xxs {
      padding-top: var(--space-xxs);
    }
.decorator_space-t_xs {
      padding-top: var(--space-xs);
    }
.decorator_space-t_s {
      padding-top: var(--space-s);
    }
.decorator_space-t_m {
      padding-top: var(--space-m);
    }
.decorator_space-t_l {
      padding-top: var(--space-l);
    }
.decorator_space-t_xl {
      padding-top: var(--space-xl);
    }
.decorator_space-t_xxl {
      padding-top: var(--space-xxl);
    }
.decorator_space-t_xxxl {
      padding-top: var(--space-xxxl);
    }
.decorator_space-t_xxxxl {
      padding-top: var(--space-xxxxl);
    }
.decorator_space-t_xxxxxl {
      padding-top: var(--space-xxxxxl);
    }
.decorator_space-t_xxxxxxl {
      padding-top: var(--space-xxxxxxl);
    }
.decorator_space-r_xxxs {
      padding-right: var(--space-xxxs);
    }
.decorator_space-r_xxs {
      padding-right: var(--space-xxs);
    }
.decorator_space-r_xs {
      padding-right: var(--space-xs);
    }
.decorator_space-r_s {
      padding-right: var(--space-s);
    }
.decorator_space-r_m {
      padding-right: var(--space-m);
    }
.decorator_space-r_l {
      padding-right: var(--space-l);
    }
.decorator_space-r_xl {
      padding-right: var(--space-xl);
    }
.decorator_space-r_xxl {
      padding-right: var(--space-xl);
    }
.decorator_space-r_xxxl {
      padding-right: var(--space-xxxl);
    }
.decorator_space-r_xxxxl {
      padding-right: var(--space-xxxxl);
    }
.decorator_space-r_xxxxxl {
      padding-right: var(--space-xxxxxl);
    }
.decorator_space-r_xxxxxxl {
      padding-right: var(--space-xxxxxxl);
    }
.decorator_space-b_xxxs {
      padding-bottom: var(--space-xxxs);
    }
.decorator_space-b_xxs {
      padding-bottom: var(--space-xxs);
    }
.decorator_space-b_xs {
      padding-bottom: var(--space-xs);
    }
.decorator_space-b_s {
      padding-bottom: var(--space-s);
    }
.decorator_space-b_m {
      padding-bottom: var(--space-m);
    }
.decorator_space-b_l {
      padding-bottom: var(--space-l);
    }
.decorator_space-b_xl {
      padding-bottom: var(--space-xl);
    }
.decorator_space-b_xxl {
      padding-bottom: var(--space-xxl);
    }
.decorator_space-b_xxxl {
      padding-bottom: var(--space-xxxl);
    }
.decorator_space-b_xxxxl {
      padding-bottom: var(--space-xxxxl);
    }
.decorator_space-b_xxxxxl {
      padding-bottom: var(--space-xxxxxl);
    }
.decorator_space-b_xxxxxxl {
      padding-bottom: var(--space-xxxxxxl);
    }
.decorator_space-l_xxxs {
      padding-left: var(--space-xxxs);
    }
.decorator_space-l_xxs {
      padding-left: var(--space-xxs);
    }
.decorator_space-l_xs {
      padding-left: var(--space-xs);
    }
.decorator_space-l_s {
      padding-left: var(--space-s);
    }
.decorator_space-l_m {
      padding-left: var(--space-m);
    }
.decorator_space-l_l {
      padding-left: var(--space-l);
    }
.decorator_space-l_xl {
      padding-left: var(--space-xl);
    }
.decorator_space-l_xxl {
      padding-left: var(--space-xxl);
    }
.decorator_space-l_xxxl {
      padding-left: var(--space-xxxl);
    }
.decorator_space-l_xxxxl {
      padding-left: var(--space-xxxxl);
    }
.decorator_space-l_xxxxxl {
      padding-left: var(--space-xxxxxl);
    }
.decorator_space-l_xxxxxxl {
      padding-left: var(--space-xxxxxxl);
    }
.decorator_indent-a_xxxs {
      margin: var(--space-xxxs);
    }
.decorator_indent-a_xxs {
      margin: var(--space-xxs);
    }
.decorator_indent-a_xs {
      margin: var(--space-xs);
    }
.decorator_indent-a_s {
      margin: var(--space-s);
    }
.decorator_indent-a_m {
      margin: var(--space-m);
    }
.decorator_indent-a_l {
      margin: var(--space-l);
    }
.decorator_indent-a_xl {
      margin: var(--space-xl);
    }
.decorator_indent-a_xxl {
      margin: var(--space-xxl);
    }
.decorator_indent-a_xxxl {
      margin: var(--space-xxxl);
    }
.decorator_indent-a_xxxxl {
      margin: var(--space-xxxxl);
    }
.decorator_indent-a_xxxxxl {
      margin: var(--space-xxxxxl);
    }
.decorator_indent-a_xxxxxxl {
      margin: var(--space-xxxxxxl);
    }
.decorator_indent-v_xxxs {
      margin-top: var(--space-xxxs);
      margin-bottom: var(--space-xxxs);
    }
.decorator_indent-v_xxs {
      margin-top: var(--space-xxs);
      margin-bottom: var(--space-xxs);
    }
.decorator_indent-v_xs {
      margin-top: var(--space-xs);
      margin-bottom: var(--space-xs);
    }
.decorator_indent-v_s {
      margin-top: var(--space-s);
      margin-bottom: var(--space-s);
    }
.decorator_indent-v_m {
      margin-top: var(--space-m);
      margin-bottom: var(--space-m);
    }
.decorator_indent-v_l {
      margin-top: var(--space-l);
      margin-bottom: var(--space-l);
    }
.decorator_indent-v_xl {
      margin-top: var(--space-xl);
      margin-bottom: var(--space-xl);
    }
.decorator_indent-v_xxl {
      margin-top: var(--space-xxl);
      margin-bottom: var(--space-xxl);
    }
.decorator_indent-v_xxxl {
      margin-top: var(--space-xxxl);
      margin-bottom: var(--space-xxxl);
    }
.decorator_indent-v_xxxxl {
      margin-top: var(--space-xxxxl);
      margin-bottom: var(--space-xxxxl);
    }
.decorator_indent-v_xxxxxl {
      margin-top: var(--space-xxxxxl);
      margin-bottom: var(--space-xxxxxl);
    }
.decorator_indent-v_xxxxxxl {
      margin-top: var(--space-xxxxxxl);
      margin-bottom: var(--space-xxxxxxl);
    }
.decorator_indent-h_xxxs {
      margin-left: var(--space-xxxs);
      margin-right: var(--space-xxxs);
    }
.decorator_indent-h_xxs {
      margin-left: var(--space-xxs);
      margin-right: var(--space-xxs);
    }
.decorator_indent-h_xs {
      margin-left: var(--space-xs);
      margin-right: var(--space-xs);
    }
.decorator_indent-h_s {
      margin-left: var(--space-s);
      margin-right: var(--space-s);
    }
.decorator_indent-h_m {
      margin-left: var(--space-m);
      margin-right: var(--space-m);
    }
.decorator_indent-h_l {
      margin-left: var(--space-l);
      margin-right: var(--space-l);
    }
.decorator_indent-h_xl {
      margin-left: var(--space-xl);
      margin-right: var(--space-xl);
    }
.decorator_indent-h_xxl {
      margin-left: var(--space-xxl);
      margin-right: var(--space-xxl);
    }
.decorator_indent-h_xxxl {
      margin-left: var(--space-xxxl);
      margin-right: var(--space-xxxl);
    }
.decorator_indent-h_xxxxl {
      margin-left: var(--space-xxxxl);
      margin-right: var(--space-xxxxl);
    }
.decorator_indent-h_xxxxxl {
      margin-left: var(--space-xxxxxl);
      margin-right: var(--space-xxxxxl);
    }
.decorator_indent-h_xxxxxxl {
      margin-left: var(--space-xxxxxxl);
      margin-right: var(--space-xxxxxxl);
    }
.decorator_indent-t_xxxs {
      margin-top: var(--space-xxxs);
    }
.decorator_indent-t_xxs {
      margin-top: var(--space-xxs);
    }
.decorator_indent-t_xs {
      margin-top: var(--space-xs);
    }
.decorator_indent-t_s {
      margin-top: var(--space-s);
    }
.decorator_indent-t_m {
      margin-top: var(--space-m);
    }
.decorator_indent-t_l {
      margin-top: var(--space-l);
    }
.decorator_indent-t_xl {
      margin-top: var(--space-xl);
    }
.decorator_indent-t_xxl {
      margin-top: var(--space-xxl);
    }
.decorator_indent-t_xxxl {
      margin-top: var(--space-xxxl);
    }
.decorator_indent-t_xxxxl {
      margin-top: var(--space-xxxxl);
    }
.decorator_indent-t_xxxxxl {
      margin-top: var(--space-xxxxxl);
    }
.decorator_indent-t_xxxxxxl {
      margin-top: var(--space-xxxxxxl);
    }
.decorator_indent-r_xxxs {
      margin-right: var(--space-xxxs);
    }
.decorator_indent-r_xxs {
      margin-right: var(--space-xxs);
    }
.decorator_indent-r_xs {
      margin-right: var(--space-xs);
    }
.decorator_indent-r_s {
      margin-right: var(--space-s);
    }
.decorator_indent-r_m {
      margin-right: var(--space-m);
    }
.decorator_indent-r_l {
      margin-right: var(--space-l);
    }
.decorator_indent-r_xl {
      margin-right: var(--space-xl);
    }
.decorator_indent-r_xxl {
      margin-right: var(--space-xl);
    }
.decorator_indent-r_xxxl {
      margin-right: var(--space-xxl);
    }
.decorator_indent-r_xxxxl {
      margin-right: var(--space-xxxl);
    }
.decorator_indent-r_xxxxxl {
      margin-right: var(--space-xxxxxl);
    }
.decorator_indent-r_xxxxxxl {
      margin-right: var(--space-xxxxxxl);
    }
.decorator_indent-b_xxxs {
      margin-bottom: var(--space-xxxs);
    }
.decorator_indent-b_xxs {
      margin-bottom: var(--space-xxs);
    }
.decorator_indent-b_xs {
      margin-bottom: var(--space-xs);
    }
.decorator_indent-b_s {
      margin-bottom: var(--space-s);
    }
.decorator_indent-b_m {
      margin-bottom: var(--space-m);
    }
.decorator_indent-b_l {
      margin-bottom: var(--space-l);
    }
.decorator_indent-b_xl {
      margin-bottom: var(--space-xl);
    }
.decorator_indent-b_xxl {
      margin-bottom: var(--space-xxl);
    }
.decorator_indent-b_xxxl {
      margin-bottom: var(--space-xxxl);
    }
.decorator_indent-b_xxxxl {
      margin-bottom: var(--space-xxxxl);
    }
.decorator_indent-b_xxxxxl {
      margin-bottom: var(--space-xxxxxl);
    }
.decorator_indent-b_xxxxxxl {
      margin-bottom: var(--space-xxxxxxl);
    }
.decorator_indent-l_xxxs {
      margin-left: var(--space-xxxs);
    }
.decorator_indent-l_xxs {
      margin-left: var(--space-xxs);
    }
.decorator_indent-l_xs {
      margin-left: var(--space-xs);
    }
.decorator_indent-l_s {
      margin-left: var(--space-s);
    }
.decorator_indent-l_m {
      margin-left: var(--space-m);
    }
.decorator_indent-l_l {
      margin-left: var(--space-l);
    }
.decorator_indent-l_xl {
      margin-left: var(--space-xl);
    }
.decorator_indent-l_xxl {
      margin-left: var(--space-xxl);
    }
.decorator_indent-l_xxxl {
      margin-left: var(--space-xxxl);
    }
.decorator_indent-l_xxxxl {
      margin-left: var(--space-xxxxl);
    }
.decorator_indent-l_xxxxxl {
      margin-left: var(--space-xxxxxl);
    }
.decorator_indent-l_xxxxxxl {
      margin-left: var(--space-xxxxxxl);
    }
.text_size_xxl {
	font-size: 24px;
	font-family: "Yandex Sans Text Web", Helvetica, Arial, sans-serif;
	line-height: 34px;
}
.text_view_primary {
	color: var(--color-typo-primary);
}
.layout-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 80px;
}
.layout-list:last-child {
		margin-bottom: 0px;
	}
.layout-item {
   margin-bottom: 40px;
}
.layout-item__view {
    margin-bottom: 20px;
    background-repeat: no-repeat;
  }
.layout-item__view_type_32-8-4 {
        width: 348px;
        height: 476px;
      }
.layout-item__view_type_32-8-4.layout-item__view_ver_1 {
          background-image: url('../../common.blocks/layout-item/32(4x8)_1.svg');
          background-size: 100%;
        }
.layout-item__view_type_32-8-4.layout-item__view_ver_2 {
          background-image: url('../../common.blocks/layout-item/32(4x8)_2.svg');
          background-size: 100%;
        }
.layout-item__view_type_32-8-4.layout-item__view_ver_3 {
          background-image: url('../../common.blocks/layout-item/32(4x8)_3.svg');
          background-size: 100%;
        }
.layout-item__view_type_32-8-4.layout-item__view_ver_4 {
          background-image: url('../../common.blocks/layout-item/32(4x8)_4.svg');
          background-size: 100%;
        }
.layout-item__view_type_32-8-4.layout-item__view_ver_5 {
          background-image: url('../../common.blocks/layout-item/32(4x8)_5.svg');
          background-size: 100%;
        }
.layout-item__view_type_32-8-4.layout-item__view_ver_default {
          background-image: url('../../common.blocks/layout-item/32(4x8)_default.svg');
          background-size: 100%;
        }
.layout-item__view_type_24-4-6 {
        width: 348px;
        height: 363px;
      }
.layout-item__view_type_24-4-6.layout-item__view_ver_1 {
          background-image: url('../../common.blocks/layout-item/24(4x6)_1.svg');
          background-size: 100%;
        }
.layout-item__view_type_24-4-6.layout-item__view_ver_2 {
          background-image: url('../../common.blocks/layout-item/24(4x6)_2.svg');
          background-size: 100%;
        }
.layout-item__view_type_24-4-6.layout-item__view_ver_3 {
          background-image: url('../../common.blocks/layout-item/24(4x6)_3.svg');
          background-size: 100%;
        }
.layout-item__view_type_24-4-6.layout-item__view_ver_4 {
          background-image: url('../../common.blocks/layout-item/24(4x6)_4.svg');
          background-size: 100%;
        }
.layout-item__view_type_24-4-6.layout-item__view_ver_5 {
          background-image: url('../../common.blocks/layout-item/24(4x6)_5.svg');
          background-size: 100%;
        }
.layout-item__view_type_24-4-6.layout-item__view_ver_default {
          background-image: url('../../common.blocks/layout-item/24(4x6)_default.svg');
          background-size: 100%;
        }
.layout-item__name {

  }
.text_view_inverse {
	color: var(--color-typo-inverse);
}
.text_size_m {
	font-size: 15px;
	font-family: "Yandex Sans Text Web", Helvetica, Arial, sans-serif;
	line-height: 21px;
}